// Import Fuse core library
@import "@fuse/scss/core";

html{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
}

html div{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper{
  font-size: 13px !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 13px 0px 10px 0px !important;
  border-top-width: 7px !important;
  font-size: 13px !important;
}

  .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  max-width: 120px;
  max-height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-animation: spin 1s cubic-bezier(0.5, 0, 0.5, 1) infinite; /* Safari */
  animation: spin 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header-button{
  background: #0000005e;
  color: white;
}

// ESTILOS PROJECT
.sc-lean {
  background: #4bb9af;
  color: white;
}

.sc-project {
  background: #1a9dd9;
  color: white;
}

.panel-busqueda-buttons {
  height: 60px !important;
  padding-top: 3px !important;
}


.panel-expand-project .mat-expansion-panel-header {
    padding: 24px !important;
    background: #196393 !important;
    width: 100%;
}

.panel-expand-project .mat-expansion-panel-header-title,
.panel-expand-project .mat-expansion-panel-header-description {
  color: white !important;
}

.panel-expand-project-ref .mat-expansion-panel-header {
  padding: 24px !important;
  background: #1a9dd9 !important;
  width: 100%;
}

.panel-expand-project-ref .mat-expansion-panel-header-title,
.panel-expand-project-ref .mat-expansion-panel-header-description {
  color: white !important;
}

.mat-dialog-container {
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12) !important;
  display: block !important;
  padding: 0px !important;
  border-radius: 10px !important;
  box-sizing: border-box !important;
  overflow: hidden !important;
  outline: 0 !important;
  width: 100% !important;
  height: 100%!important;
}


.sombreadoTabla:hover{
  cursor: pointer !important;
  background: #f2f2f287 !important;
}
.sombreadoTabla:active{
  cursor: pointer !important;
  background: #f2f2f2 !important;
}


// nuevos botones

.btnAlert {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 6px #666666;
  -moz-box-shadow: 0px 1px 6px #666666;
  box-shadow: 0px 1px 6px #666666;
  font-family:  Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
  color: #ffffff;
  background: #11D486;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
}

.btnAlert:hover {
  background: #4abf8e;
  text-decoration: none;
}

.btnAlert:disabled{
  border: 1px solid #d0d0d0;
  background-color: #cccccc;
  color: #ffffff;
}

.btnAccept {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 6px #666666;
  -moz-box-shadow: 0px 1px 6px #666666;
  box-shadow: 0px 1px 6px #666666;
  font-family:  Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
  color: #ffffff;
  background: #466EDC;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
}

.btnAccept:hover {
  background: #3654a8;
  text-decoration: none;
}

.btnAccept:disabled{
  border: 1px solid #d0d0d0;
  background-color: #cccccc;
  color: #ffffff;
}

.ql-container .ql-editor {
  min-height: 700px !important;
  padding-bottom: 1rem;
}

.mat-dialog-title {
  font-family: Muli,'Helvetica Neue',Arial,sans-serif !important;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab{
  font-family: Muli,'Helvetica Neue',Arial,sans-serif !important;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6{
  font-family: Muli,'Helvetica Neue',Arial,sans-serif !important;
}
