
<div class="logo" fxLayout="column" fxLayoutAlign="center center">
  <img src="assets/images/logos/scentinetspinner.png">
</div>

<div class="title">Recupera tu contraseña</div>

 <div class="register" fxLayout="column" fxLayoutAlign="center center" *ngIf="!initial">
  <span class="text">{{message}}</span>
  <span>&nbsp;</span>
  <div [loader]="!codeError" loadSize="20px"></div>
  <div *ngIf="codeError">
    <a mat-raised-button color="primary" [routerLink]="'/reset-pass/confirm-email'">
      Reenviar enlace de Recuperción
    </a>
  </div>
  <!--<a class="link" (click)="reenviar()">Reenviar Mensaje de Confimación</a>-->
</div>


<form [formGroup]="newPassFormGroup" *ngIf="initial">
  <div class="register" fxLayout="column" fxLayoutAlign="center center">
    <span class="text">Ingresa tu nueva contraseña:</span>
  </div>
  <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
    <mat-form-field   fxFlex="100">
      <input type="password" placeholder="Contraseña" matInput formControlName="password"  (keyup)="onKey()"   autocomplete="new-password" >
      <div class="alternate-theme">
        <mat-progress-bar [color]="colorPassword" [value]="valuePassword"></mat-progress-bar>
      </div>
      <mat-hint>
        {{passwordMessage}}
      </mat-hint>
      <mat-error *ngIf="newPassFormGroup.get('password').hasError('matchPassword')">
        No coinciden las contraseñas.
      </mat-error>
      <mat-error *ngIf="newPassFormGroup.get('password').hasError('required')">
        Este dato es obligatorio.
      </mat-error>
    </mat-form-field>
  </div>
  <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
    <mat-form-field   fxFlex="100">
      <mat-label>Repita su Constraseña</mat-label>
      <input matInput type="password" formControlName="passwordConfirm"  (keyup)="onKey()"    autocomplete="new-password">
      <div class="alternate-theme">
        <mat-progress-bar [color]="colorPassword" [value]="valuePassword"></mat-progress-bar>
      </div>
      <mat-hint>
        {{passwordMessage}}
      </mat-hint>
      <mat-error *ngIf="newPassFormGroup.get('passwordConfirm').hasError('matchPassword')">
        No coinciden las contraseñas.
      </mat-error>
      <mat-error *ngIf="newPassFormGroup.get('passwordConfirm').hasError('required')">
        Este dato es obligatorio.
      </mat-error>
    </mat-form-field>
  </div>

  <div [loader]="loader" loadSize="20px">
    <button mat-raised-button color="accent" class="submit-button" (click)="recoverypass()"
            [disabled]="newPassFormGroup.invalid">
      Recuperar Contraseña
    </button>
  </div>

</form>

<div class="register" fxLayout="column" fxLayoutAlign="center center">  
  <a class="link" [routerLink]="'/login'">Volver a ingresar mis datos</a>
</div>

