<mat-toolbar class="p-0 mat-elevation-z1" style="background: #0289BD;">

    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

<!--          <button mat-icon-button -->
<!--                  >-->
<!--            <mat-icon>menu</mat-icon>-->
<!--          </button>-->

          <img *ngIf="!noNav" (click)="toggleSidebarOpened('navbar')" fxHide.gt-md  style=" height: 40px; margin-left: 24px; cursor: pointer;" src="assets/images/logos/logosalle.png" alt="">

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">


          <div class="toolbar-separator"></div>

<!--          <button (click)="spadmin()" class="user-button" mat-button>-->
<!--            <div fxLayout="row" fxLayoutAlign="center center">-->
<!--              <mat-icon fxHide.xs>group</mat-icon> &nbsp;&nbsp;-->
<!--              <span *ngIf="isLogin()" fxHide fxShow.gt-sm>Administrador</span>-->
<!--            </div>-->
<!--          </button>-->

<!--          <div class="toolbar-separator"></div>-->

          <button mat-button [matMenuTriggerFor]="userMenu"
                    class="user-button">
              <div fxLayout="row" fxLayoutAlign="center center">
                <img class="avatar" src="assets/images/avatars/profile.jpg">
                <span class="username mr-12" fxHide fxShow.gt-sm *ngIf="isLogin()">{{getUsuario()}}</span>
                <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
              </div>
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

              <button mat-menu-item class="" (click)="logout()" *ngIf="isLogin()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Session</span>
              </button>

            </mat-menu>

        </div>
    </div>
</mat-toolbar>
