.bread:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.bread-home:hover {
  cursor: pointer;
}

.fllscrn {
  width: 100%;
  height: 80%;
  //border-radius: 0px 0px 15px 15px;
}

.disabled_option {
  pointer-events: none;
  opacity: 0.5;
  //display: none;
}

.scrn {
  height: 100%;
  width: 100%;
}

.sct {
  overflow-y: scroll;
  height: 80%
}

@media screen and (max-width: 400px) {
  .fllscrn {
    width: 100%;
    height: auto;
    //border-radius: 0px 0px 15px 15px;
  }
  .scrn {
    height: 100%;
    overflow-y: scroll;
  }
  .sct {
    height: auto;
  }
}

:host {
  .headers {
    background: #1a9dd9;
    background: linear-gradient(90deg, #1a9dd9 0%, #4bb9af 100%);
    position: relative;
    overflow: hidden;
  }
}
